@font-face{
    font-family: "Alien";
    src: url('./fonts/Alien.woff2') format('woff2'),
         url('./fonts/Alien.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

html {
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2rem auto 0 25rem;
    font-family: "Alien", sans-serif;
}

.info-wrapper {
    width: 25vw;
    height: 35vh;
    display: flex;
    flex-flow: column;
    align-items: center;
}

p {
    font-size: 3rem;
    color: white;
    transform: scaleX(-1);
}

.type {
    margin-top: 2rem;
}

.animation{
    width: 25vw;
}

.time {
    text-align: center;
    margin-top: -3rem;
}

.time-temp-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.advice {
    display: flex;
    justify-content: center;
}

.icon {
    width: 50%;
    height: 50%;
    margin-left: 2rem;
}

.temp{
    margin:0 -1rem 0 4rem;
}

.degree-90 {
    transform: rotate(90deg);
    margin-left: 25vw;
}

.degree-180 {
    transform: rotate(180deg);
}

.degree-270 {
    transform: rotate(270deg);
    margin-left: -25vw;
    margin-top: -70vh;
}